*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}

.banner{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(178, 151, 151, 0.202), rgba(53, 53, 53, 0.447)),
        url(sad-street-dog-crop.jpeg);
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        
}

.navbar{
    width: 85%;
    margin-left: 20px;
    margin-right: 2px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50px;
    cursor: pointer;
    padding-left: 0px;
    margin-left: 4px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    margin-right: 4px;
    margin-inline-end: auto;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(127, 73, 73);
    position: absolute;
    left: 0;    
    bottom: -10px;
    transition:0.5s ;
}
.navbar ul li a:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.content h1{
    font-family:sans-serif;
    text-align: center;
}
.content h4{
    margin-top: 20px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align:  center;
    /* margin: 20px 10px; */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(123, 98, 9);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-inline: 20px;
   
}
a{
    text-decoration: none;
    color: white;
}

span{
    background: rgba(82, 65, 4, 0.81);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    margin-top: 100px;
}


button:hover span{
    width: 100%;
    border: none;
}

.p1{
    width: 100%;
    /* position: absolute; */
 

    text-align: center;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.p1 h2{
    text-align: center;
    color: orangered;
    margin-top: 40px;
}

.p1 h5{
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    font-weight: 20;
    margin-top: 30px;
}

.p1 button{
    width: 200px;
    padding: 15px 0;
    text-align:  center;
    /* margin: 20px 10px; */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orangered;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-inline: 20px;

}
.p1 span{
    background: orangered;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    margin-top: 50px;
}

.p2 {
    width: 100%;
    position: absolute;
    margin-top: 30px;

    text-align: center;
    color: black;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(237, 231, 220);
}

.p2 h2{
    text-align: center;
    color: black;
    margin-top: 40px;
}
.p2 h5{
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    font-weight: 20;
    margin-top: 30px;
}
.image1{
    border: 2px solid black;
    border-radius: 10%;
    height: 30%;
    width: 30%;
    margin-top: 30px;
    float: left;
    margin-left: 60px;
}

.image2{
    border: 2px solid black;
    border-radius: 10%;
    height: 30%;
    width: 30%;
    margin-top: 30px;
    float: right;
    margin-right: 100px;
}
.button2 button{
    /* display: inline-block; */
    bottom: unset;
    margin-inline: -330px;
    justify-content: space-between;
    float:left;
    margin-top: 350px;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
.button2 span{
    background: rgba(82, 65, 4, 0.81);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    margin-top: 100px;
    /* margin-right: -100px; */
}
.button2 :hover span{
    width: 100%;
    border: none;
}

.button3 button{
    /* display: inline-block; */
    bottom: unset;
    margin-left: 370px;
    justify-content: space-between;
    /* float:left; */
    margin-top: 15px;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button3 span{
    background: rgba(82, 65, 4, 0.81);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    margin-top: 100px;
    text-align: center;
 
}


.button3 :hover span{
    width: 100%;
    border: none;
}

.p3{
    width: 100%;
    position: absolute;
 

    text-align: center;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.button4{
    width: 100%;
    border: none;
    align-items: center;
}
main {
    background-color: white;
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: black;
    padding: 5vh 0 8vh 0;
    height: fit-content;
    font-family: sans-serif;  
    margin-top: 650px;
    line-height: 250%;

}

#SM {
    width: 50px;
    height: 50px;
}

input, textarea {
    text-align: left;
    border: 2px dotted orange;
    margin: 3px;
    width: 50vh;
    height: 30px;
    font-size: 15px;
    padding: 10px;
    
}
textarea {
    max-width: 50vh;
    min-width: 50vh;
    min-height: 30px;
}

input[type="submit"] {
    background-color: rgb(255, 123, 0);
    width: 50vh;
    color: aliceblue;
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 10px;

}

input[type="submit"]:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    
}

.link {
    transform: translateY(-0.5%);
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 10%;
    
}
.info{font-size: smaller;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25vh;
    object-fit: contain;
    margin: 0 auto;
}
img{
    width: 30px;
    height: 30px;
}
#SM{
    width: 50px;
    height: 50px;
    line-height: 250%;
}
